/* ------------------------------------------------------------------------- */
/* GENERAL STYLES */
/* ------------------------------------------------------------------------- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ------------------------------------------------------------------------- */
/* @Section */
/* ------------------------------------------------------------------------- */
.section {
  margin-bottom: 150px;
  text-align: center;
  background: #948b8b;
}

.aside,
.main {
  padding: 20px;
}

.aside {
  background: #379696;
}

.main {
  background: #dea030;
}

/* ------------------------------------------------------------------------- */
/* @Example1 */
/* Using position absolute and height: 100% for some elements */
/* ------------------------------------------------------------------------- */
html,
body {
  height: 100%;
}

.section--1 {
  position: relative;
  height: 100%;
  padding-left: 240px;

  /* or margin-left: 240px for .main */
}

.section--1 .aside {
  position: absolute;
  top: 0;
  right: auto;
  bottom: 0;
  left: 0;
  width: 240px;
}

.section--1 .main {
  height: 100%;
}

/* ------------------------------------------------------------------------- */
/* @Example2 */
/* Using float and height: 100vh for some elements; */
/* ------------------------------------------------------------------------- */
.section--2 .aside {
  float: left;
  width: 240px;
  height: 100vh;
}

.section--2 .main {
  height: 100vh;
  margin-left: 240px;
}

/* ------------------------------------------------------------------------- */
/* @Example3 */
/* Using flex display */
/* ------------------------------------------------------------------------- */
.section--3 {
  display: flex;
  height: 100vh;
}
.section--3 .aside {
  width: 240px;
}

.section--3 .main {
  width: calc(100% - 240px);
}
